.dialog {
    position: fixed;
    background-color: var(--layout-color);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
   
  }
  .dialog__container{
      height: 100%;
      width: 100%;
  }
  .dialog__content {  
    position: relative; 
    width: 600px;
    background-color: #ffff;
    border-radius: var( --border-radius);
    padding: 32px;
    
  }
  
  .dialog__body__text{
    margin-left: 32px;
  }
  .dialog__footer{
    margin-top: 32px;
    border-top: 1px solid var(--border-color);
    justify-content: right;
    height: 56px;
    padding-top: 16px;
  }
