.dialog {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
   
    
  }
  .dialog__container{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .dialog__content {  
    position: relative; 
    width: 600px;
  
    background-color: #ffff;
    border-radius: 4px;
    padding: 32px;
   
    
    
  }
  
  .dialog__body{
    display: flex;
    align-items: center;
  }
  .dialog__body__text{
    margin-left: 32px;
  }
  .dialog__footer{
    margin-top: 32px;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: right;
    height: 56px;
    padding-top: 16px;
  }
