<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>

  <body>
    <div class="item__icon">
      <div class="icon icon__24 icon__setting"></div>
    </div>
    <div class="item__icon">
      <div class="icon icon__18 icon__close"></div>
    </div>
    <span>Quản lý nhân viên</span>
    <div style="width: 116px;">
        <div class="btn content__center ">
            Thêm mới 
         </div>
    </div>
    <div style="width: 80px; margin-top: 4px;">
        <div class="btn content__center ">
            Đồng ý
         </div>
    </div>
    <div>
        <input type="checkbox">
    </div>
   
    <div> </div>
  </body>
</html>
