<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>

  <body style="padding: 8px">
    <h3>Icon</h3>
    <div class="item__icon">
      <div class="icon icon__24 icon__setting"></div>
    </div>
    <div class="item__icon">
      <div class="icon icon__18 icon__close"></div>
    </div>
   
    <div class="item__icon">
      <div class="icon icon__18 icon__close"></div>
    </div>
    <span>Quản lý nhân viên</span>
    <h3>Button</h3>
    <div style="width: 116px">
      <div class="btn content__center">Thêm mới</div>
    </div>
    <div style="width: 80px; margin-top: 4px">
      <div class="btn content__center">Đồng ý</div>
    </div>
    <h3>Custom Radio Buttons</h3>
    
      <input type="radio" name="" id="" />
      <label for="">Nam</label>
    
 
      <input type="radio" name="" id="" />
      <label for="">Nữ</label>
   
    <h3>Custom Check box</h3>
   
    <input type="checkbox" id="" />
    <label for="">Check box</label>

    <div class="container__input">
      <label class="input__label" for="">Mã <span
        class="required">*</span> </label>
      <input class="input" type="text" placeholder="Mã nhân viên" />
    </div>
    <div class="container__input">
      <label class="input__label" for="">Họ và tên <span
        class="required">*</span></label>
      <input
        class="input input__error"
        type="text"
        placeholder="Họ tên đấy đủ"
      />
    </div>
    <div class="container__input">
      <input id="search" class="input input__icon icon__search" type="text"
      placeholder="Tìm theo mã, tên nhân viên " />
    </div>

    <div></div>
  </body>
</html>
