@import url(../layout/navbar.css);
@import url(../layout/header.css);
@import url(../layout/content.css);
.navbar{
 
  background-color: #041434;
  border: 1px solid #041434;
  height: 100vh;
  overflow-y: auto;
  width: 200px;
  flex-shrink: 0;
  
 
  
}
.main{
   height: 100vh;
}
.header{
    height: 56px;
}
.content{
   height: calc(100% - 56px);
   padding: 24px 24px 0 24px;
  
}

