@import url(./base/icon.css);
@import url(./base/button.css);
:root {
    --primary-color: #50B83C;
    --white-color: #fff;
    --border-color:#bbbbbb;
   
}

body {
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GoogleSans-Regular;
    font-size: 14px; 
   
   
}



@font-face {
    font-family: GoogleSans-Regular;
    src: url(../fonts/notosans-regular.2cb88a13.woff2);
}

.align-center{
    text-align: center;
   }
 .align-right{
    text-align: right;
   }
.content__center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}