@import url(./base/icon.css);
@import url(./base/button.css);
@import url(./base/radio.css);
@import url(./base/checkbox.css);
@import url(./base/input.css);
@import url(./base/table.css);
@import url(./base/page.css);
@import url(./base/modal.css);
@import url(./base/dialog.css);
:root {
  --primary-color: #089740;
  --hover-color: rgba(8, 151, 64, 0.85);
  --white-color: #ffffff;
  --border-color: #e0e0e0;
}

body {
  color: #1f1f1f;
  margin: 0;
  padding: 0;
 
  font-size: 14px;
}
* {
  box-sizing: border-box;
  font-family: GoogleSans-Regular;
}
@font-face {
  font-family: GoogleSans-Regular;
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
  font-family: GoogleSans-Medium;
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
}

.align-right {
  text-align: right;
}

.content__center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7C869C;
}
