.table {
    border-collapse: collapse;
    width: 100%;
   
  }
  
 .table thead th,td {
    text-align: left ;
    border-bottom: 1px solid var(--border-color);
    border-right:1px solid var(--border-color)  ;
    padding-left:8px;
    
  }
 .table thead th {
    background-color: #F5F5F5;
    position:sticky;
    top: 0;
 } 
 .table tr{
    height: 48px;
    cursor: pointer; 
 }
 .table tbody tr:hover {  background-color: #F8F8F8;
 }
 
.align-center {
    text-align: center !important;
   padding:  0  !important;
}
.center__checkbox{
   padding: 0 8px;
   width: 30px;

}
.list-func{
   width: auto;
   height: auto;
   border: none;   
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.function-text{
   color:  #4262F0;
   font-weight: 700;
   margin-right: 8px;
}
.function__icon{
   width: 24px;
   height: 18px;
   background-image: url(../../img/Sprites.64af8f61.svg);
   background-repeat: no-repeat;
   background-position: -844.5px -445px;
   background-size: 1906px 2016px;
   cursor: pointer;
}
.function__nav{
   display: none;
   position: absolute;
   top:115%;
   right: 10%;
   width: 120px;
   border:1px solid #D6D7DB;
   background-color: #fff;
   z-index: 1;
   border-radius: 4px;
}
.showFunc{
   display: block !important;
}
.function__nav li{
   width: 100%;
   height: 35px;
   line-height: 35px;
   padding-left:10px;
   text-align: left;
   list-style: none;
   cursor: pointer;
}
.function__nav li:hover{
   color:var(--primary-color);
   font-weight: 700;
   background-color: #E8E9EC;
}
