<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/layout/employee.css" />
    <title>Hệ thống quản lý nhân viên Quản lý nhân viên</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar__header">
                <div class="item__icon">
                    <div class=" icon__18 icon__total"></div>
                </div>

                <div class="navbar__header__content">
                    <div class="item__icon item__icon__logo ">
                        <div class=" icon__44 icon__logo"></div>
                    </div>
                     <span>KẾ TOÁN</span>

                </div>
            </div>
            <div class="navbar__main">
                <div class="navbar__item navbar__item--active">
                    <div class="item__icon">
                        <div class=" icon__18 icon__overview"></div>
                    </div>
                    <div class="navbar__item-text">Tổng quan</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__file"></div>
                    </div>
                    <div class="navbar__item-text">Hồ sơ</div>
                </div>

                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__contact"></div>
                    </div>
                    <div class="navbar__item-text">Hợp đồng</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__appoint"></div>
                    </div>
                    <div class="navbar__item-text "> Bổ nhiệm</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__dismissed"></div>
                    </div>
                    <div class="navbar__item-text">Miễm nhiệm</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__dispatch"></div>
                    </div>
                    <div class="navbar__item-text">Thuyên chuyển</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__file"></div>
                    </div>
                    <div class="navbar__item-text">Nghỉ việc</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__bonus"></div>
                    </div>
                    <div class="navbar__item-text">Khen thưởng</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__trouble"></div>
                    </div>
                    <div class="navbar__item-text">Sự cố</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class="icon__18 icon__zoning"></div>
                    </div>
                    <div class="navbar__item-text">Quy hoạch</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__report"></div>
                    </div>
                    <div class="navbar__item-text">Báo cáo</div>
                </div>
            </div>
            <div class="navbar__footer">
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__collapse"></div>
                    </div>
                    <div class="navbar__item-text">Thu gọn</div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="header">
                <div class="headder__title">
                    <div class="item__icon">
                        <div class=" icon__16 icon__menu"></div>
                    </div>
                    <select name="" id="">
                        <option value="">CÔNG TY TNHH SẢN XUẤT-THƯƠNG MẠI-DỊCH VỤ QUI PHÚC</option>
                    </select>

                </div>
                <div class="headder__account">

                </div>
            </div>
            <div class="content"></div>
        </div>
    </div>
</body>

</html>