<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/layout/employee.css" />
    <title>Hệ thống quản lý nhân viên Quản lý nhân viên</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar__header">
                <div class="item__icon">
                    <div class=" icon__18 icon__total"></div>
                </div>

                <div class="navbar__header__content">
                    <img class="item__logo" src="../../assets/img/Logo_Module_TiengViet_White.66947422.svg" alt="">
                    <div class="item__logo">

                    </div>
                    <!-- <div class="item__icon item__icon__logo ">
                        <div class=" icon__44 icon__logo"></div>
                    </div>
                     <span>KẾ TOÁN</span> -->

                </div>
            </div>
            <div class="navbar__main">
                <div class="navbar__item navbar__item--active">
                    <div class="item__icon">
                        <div class=" icon__18 icon__overview"></div>
                    </div>
                    <div class="navbar__item-text">Tổng quan</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__monney"></div>
                    </div>
                    <div class="navbar__item-text">Tiền mặt</div>
                </div>

                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__deposits"></div>
                    </div>
                    <div class="navbar__item-text">Tiền gửi</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon_purchase"></div>
                    </div>
                    <div class="navbar__item-text "> Mua hàng</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__sale"></div>
                    </div>
                    <div class="navbar__item-text">Bán hàng</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__management"></div>
                    </div>
                    <div class="navbar__item-text">Quản lý hóa đơn</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__warehouse"></div>
                    </div>
                    <div class="navbar__item-text">Kho</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__tool"></div>
                    </div>
                    <div class="navbar__item-text">Công cụ dụng cụ</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__fixed-assets"></div>
                    </div>
                    <div class="navbar__item-text">Tài sản cố định</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class="icon__18 icon__tax"></div>
                    </div>
                    <div class="navbar__item-text">Thuế</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__pice"></div>
                    </div>
                    <div class="navbar__item-text">Giá thành</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__synthetic"></div>
                    </div>
                    <div class="navbar__item-text">Tổng hợp</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__budget"></div>
                    </div>
                    <div class="navbar__item-text">Ngân sách</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__report"></div>
                    </div>
                    <div class="navbar__item-text">Báo cáo</div>
                </div>
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__analysis"></div>
                    </div>
                    <div class="navbar__item-text">Phân tích tài chính</div>
                </div>

            </div>
            <!-- <div class="navbar__footer">
                <div class="navbar__item">
                    <div class="item__icon">
                        <div class=" icon__18 icon__collapse"></div>
                    </div>
                    <div class="navbar__item-text">Thu gọn</div>
                </div>
            </div> -->
        </div>
        <div class="main">
            <div class="header">
                <div class="headder__title">
                    <div class="item__icon">
                        <div class=" icon__16 icon__menu"></div>
                    </div>
                    <select name="" id="">
                        <option value="">CÔNG TY TNHH SẢN XUẤT-THƯƠNG MẠI-DỊCH VỤ QUI PHÚC</option>
                    </select>

                </div>
                <div class="headder__account">
                   <div class="headder__account__notification">
                    <div class="item__icon">
                        <div class=" icon__24 icon__notification"></div>
                      </div>
                   </div>
                   <div class="account__container">
                      <div class="account__img icon__acc__img"></div>
                      <div class="account__text">Phạm Công Tuấn Anh</div>
                      <div class="icon__account__down">
                    
                      </div>
                   </div>
                </div>
            </div>
            <div class="content">
                <div class="content__header">
                   <h3>Nhân viên</h3>
                   <div class="btn content__center">Thêm mới nhân viên </div>
                
                </div>
                <div class="content__body">
                    <div class="content__body__wrapper">
                        
                    </div>
                    <div class="content__footer">
                        <div class="content__footer_letf">
                           Tổng số <span>999</span> bản ghi
                        </div>
                        <div class="content__footer__right">
    
                        </div>
                    
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</body>

</html>